body{
  width: auto;

}
.logo{
  position: relative;
  left:10px;
  top:50px;

}

.navbar {
  background: transparent;
  color: white;
  padding: 1rem;

}

ul {
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  left:650px;
  top:-10px;
}

li {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: white;
}
.home {
  display: block;
  text-align: left;
  color: white;
  background-image: url("https://res.cloudinary.com/dyl3rncv3/image/upload/v1679910469/elewa-group-website/hero-Images/pexels-bg-edit_bb4znx.jpg");
  height:100vh;
  max-width: max-content;
  background-size: cover;

}

.home-h2 {
  font-size: 20px;
  background: transparent; 
  font-family: DMSans-Regular;
  left:20px;
  top:100px;
}

.home-h1 {
  font-size: 25px;
  background: transparent; 
  font-family: Jeko-Medium;
  left:20px;
  top:100px;
}
.home-black{
  background-color: black;
  color:white;
  background-size: contain;
}
.numbers-container{
  position: relative;
  display:flex;
  
}
.numbers-container h1{
  position: relative;
  display:block;
}

.numbers-container p{
  position: relative;
  display: block;
}

.image-text{
  position: relative;
  display: block;
  top:-600px;
  left: 600px;
  text-align:left;
  justify-content: center;
}
.image-p{
  position: relative;
  display: block;
  top:-550px;
  left:600px;
  text-align:left;
  font-size:12px;

}
/* Cooperative  page styling */

.cooperative {
  position: relative;
  display: block;
  align-items: left; 
  background-color: #ECECEC;
}

.cooperative-image {
  position: relative;
  flex: 1; 
  align-items: right;
  left:50%;
  justify-content: left;
}

.cooperative-h1{
  position: relative;
  top:-600px;
  left:10px;
}
.cooperative-p{
  position: relative;
  display: block;
  top:-580px;
  left:10px;
  font-size: 18px;
  text-align:left;
  width:50%;

}

.cooperative-content {
  flex: 1;
  padding: 20px; 
}


