body{
  width: auto;

}
.logo{
  position: relative;
  left:10px;
  top:50px;

}

.navbar {
  background: transparent;
  color: white;
  padding: 1rem;

}

ul {
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;
  left:650px;
  top:-10px;
}

li {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: white;
}
.home {
  display: block;
  text-align: left;
  color: white;
  background-image: url("https://res.cloudinary.com/dyl3rncv3/image/upload/v1679910469/elewa-group-website/hero-Images/pexels-bg-edit_bb4znx.jpg");
  height:100vh;
  max-width: max-content;
  background-size: cover;

}

.home-h2 {
  font-size: 20px;
  background: transparent; 
  font-family: DMSans-Regular;
  left:20px;
  top:100px;
}

.home-h1 {
  font-size: 25px;
  background: transparent; 
  font-family: Jeko-Medium;
  left:20px;
  top:100px;
}
.home-black{
  background-color: black;
  color:white;
  background-size: contain;
}
.numbers-container{
  position: relative;
  display:flex;
  
}
.numbers-container h1{
  position: relative;
  display:block;
}

.numbers-container p{
  position: relative;
  display: block;
}

.image-text{
  position: relative;
  display: block;
  top:-600px;
  left: 600px;
  text-align:left;
  justify-content: center;
}
.image-p{
  position: relative;
  display: block;
  top:-550px;
  left:600px;
  text-align:left;
  font-size:12px;

}
/* Cooperative  page styling */

.cooperative {
  position: relative;
  display: block;
  align-items: left; 
  background-color: #ECECEC;
  height:100%;
}

.cooperative-image {
  position: relative;
  flex: 1; 
  align-items: right;
  left:50%;
  justify-content: left;
}

.cooperative-h1{
  position: relative;
  top:-600px;
  left:10px;
}
.cooperative-p{
  position: relative;
  display: block;
  top:-580px;
  left:10px;
  font-size: 18px;
  text-align:left;
  width:50%;

}

.cooperative-content {
  flex: 1;
  padding: 20px; 
}
/* Business styling */
.business-h1{
  position: relative;
  top:-500px;
  left:460px;
  font-size:40px;
}
.business-p{
position: relative;
display: block;
top:-450px;
left:460px;
text-align:left;
width:65%;
font-size: 20px;
}
.business-image{
  position: relative;
  width: 50%;
  left:20px;

}
/* Knowledge styling */
.knowledge{
  background-color: black;
  height:100%;
}
.knowledge-h1{
  position: relative;
  top:-700px;
  left:10px;
  font-size: 40px;
  color:white;
}
.knowledge-p{
  position: relative;
  display: block;
  top:-660px;
  left:10px;
  text-align: left;
  width:50%;
  font-size: 20px;
  color:white;
}
.knowledge-image{
  position: relative;
  width:30%;
  left:700px;

}

/* Partners styling */
h1{
  text-align: center;
}

.partners-all {
  outline: 3px solid yellow;
  text-align: center;
  padding: 20px 0;
  left:20px;
  display: flex;
  justify-content: center;
  position: relative; 
  background: white;
  mix-blend-mode: multiply;
  opacity: 1;
  height: 100px;
  width: fit-content;
  align-items: center;
}

.partners{
  width: 100px;
  padding:20px;
  height: 100px;
}
@keyframes rotation{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Footer Styling */
/* Footer.css */

.footer {
  background-color:black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  height:100vh;

}

h3{
  position: relative;
  display:block;
  text-align: center;
}
p {
  position: relative;
  margin: 0;
  font-size: 14px;
  display:block;
}




